.tour-dates {
  align-items: center;
  @media screen and (max-width: 768px) {
    padding: 5px 20px !important;
    min-width: 80% !important;
  }
  @media screen and (min-width: 768px) and (max-width: 1224px) {
    flex-direction: row !important;
  }
  @media screen and (min-width: 1224px) {
    flex-direction: column !important;
  }
}

.event {
  max-width: 300px;
  cursor: pointer;
}

.event:hover {
  -moz-box-shadow: 0 0 5px rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 5px rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(255, 255, 255);
}
