@import "../../assets/styles/variables";

.map-container {
  width: 300px;
  height: 300px;
}

.mapboxgl-popup-content {
  color: $color-lighter;
}

.mapboxgl-popup-content.venue-name {
  overflow-wrap: "break-word";
}

.event {
  max-width: 300px;
  cursor: pointer;
}

.event:hover {
  -moz-box-shadow: 0 0 5px rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 5px rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(255, 255, 255);
}
