.artist-info-content {
  @media screen and (max-width: 768px) {
    flex-direction: column !important;
    align-items: center !important;
  }
  @media screen and (min-width: 768px) and (max-width: 1224px) {
    flex-direction: row !important;
  }
}
