.related-artists {
  grid-auto-columns: min-content;
  height: 430px;
  width: auto;
  padding: 5px 0px;
  max-width: 40%;

  @media screen and (max-width: 1224px) {
    max-width: 100% !important;
    flex: 1 0 auto !important;
  }
}

.artist {
  cursor: pointer;
  @media screen and (max-width: 1224px) {
    justify-content: flex-start !important;
  }
}

.artist:hover {
  -moz-box-shadow: 0 0 5px rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 5px rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(255, 255, 255);
}
