.related-artists {
  grid-auto-columns: min-content;
  height: 430px;
  width: 40%;
}

.artist {
  cursor: pointer;
}

.artist:hover {
  -moz-box-shadow: 0 0 5px rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 5px rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(255, 255, 255);
}
